FrontTA/FrontTA/Connected Services/SisProgWS/FamiliaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://alumno.services.sis.edu.pe/" targetNamespace="http://alumno.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerHijos" type="tns:ObtenerHijos" />
  <xs:element name="ObtenerHijosResponse" type="tns:ObtenerHijosResponse" />
  <xs:element name="buscarFamilia" type="tns:buscarFamilia" />
  <xs:element name="buscarFamiliaResponse" type="tns:buscarFamiliaResponse" />
  <xs:element name="eliminarFamiliaPorId" type="tns:eliminarFamiliaPorId" />
  <xs:element name="eliminarFamiliaPorIdResponse" type="tns:eliminarFamiliaPorIdResponse" />
  <xs:element name="insertarFamilia" type="tns:insertarFamilia" />
  <xs:element name="insertarFamiliaResponse" type="tns:insertarFamiliaResponse" />
  <xs:element name="listarFamiliasTodas" type="tns:listarFamiliasTodas" />
  <xs:element name="listarFamiliasTodasResponse" type="tns:listarFamiliasTodasResponse" />
  <xs:element name="modificarFamilia" type="tns:modificarFamilia" />
  <xs:element name="modificarFamiliaResponse" type="tns:modificarFamiliaResponse" />
  <xs:element name="obtenerFamiliaPorId" type="tns:obtenerFamiliaPorId" />
  <xs:element name="obtenerFamiliaPorIdResponse" type="tns:obtenerFamiliaPorIdResponse" />
  <xs:complexType name="obtenerFamiliaPorId">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerFamiliaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="familia_id" type="xs:int" />
      <xs:element minOccurs="0" name="numero_telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarFamiliaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFamiliaPorId">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarFamiliaPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHijos">
    <xs:sequence>
      <xs:element name="idFamilia" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObtenerHijosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:sequence>
      <xs:element name="alumno_id" type="xs:int" />
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="padres" type="tns:familia" />
      <xs:element name="pension_base" type="xs:double" />
      <xs:element minOccurs="0" name="religion" type="xs:string" />
      <xs:element name="sexo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarFamiliasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarFamiliasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="familia" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarFamiliaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFamilia">
    <xs:sequence>
      <xs:element minOccurs="0" name="familia" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarFamiliaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>