FrontTA/FrontTA/FrontTA/Connected Services/SisProgWS/AulaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gracademico.services.sis.edu.pe/" targetNamespace="http://gracademico.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAulaPorId" type="tns:eliminarAulaPorId" />
  <xs:element name="eliminarAulaPorIdResponse" type="tns:eliminarAulaPorIdResponse" />
  <xs:element name="insertarAula" type="tns:insertarAula" />
  <xs:element name="insertarAulaResponse" type="tns:insertarAulaResponse" />
  <xs:element name="listarAulasPorNombreONombreGrado" type="tns:listarAulasPorNombreONombreGrado" />
  <xs:element name="listarAulasPorNombreONombreGradoResponse" type="tns:listarAulasPorNombreONombreGradoResponse" />
  <xs:element name="listarAulasTodas" type="tns:listarAulasTodas" />
  <xs:element name="listarAulasTodasResponse" type="tns:listarAulasTodasResponse" />
  <xs:element name="modificarAula" type="tns:modificarAula" />
  <xs:element name="modificarAulaResponse" type="tns:modificarAulaResponse" />
  <xs:element name="obtenerAulaPorId" type="tns:obtenerAulaPorId" />
  <xs:element name="obtenerAulaPorIdResponse" type="tns:obtenerAulaPorIdResponse" />
  <xs:complexType name="insertarAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aula">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="aula_id" type="xs:int" />
      <xs:element minOccurs="0" name="grado" type="tns:gradoAcademico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviatura" type="xs:string" />
      <xs:element name="activo" type="xs:int" />
      <xs:element name="grado_academico_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAulaPorId">
    <xs:sequence>
      <xs:element name="idAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerAulaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAulaPorId">
    <xs:sequence>
      <xs:element name="idAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAulaPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAulasPorNombreONombreGrado">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreGrado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAulasPorNombreONombreGradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAulasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAulasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>