FrontTA/FrontTA/FrontTA/Connected Services/SisProgWS/PeriodoXAulaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://matricula.services.sis.edu.pe/" targetNamespace="http://matricula.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPeriodoXAulaPorId" type="tns:eliminarPeriodoXAulaPorId" />
  <xs:element name="eliminarPeriodoXAulaPorIdResponse" type="tns:eliminarPeriodoXAulaPorIdResponse" />
  <xs:element name="insertarPeriodoXAula" type="tns:insertarPeriodoXAula" />
  <xs:element name="insertarPeriodoXAulaResponse" type="tns:insertarPeriodoXAulaResponse" />
  <xs:element name="listarPeriodosXAulasTodos" type="tns:listarPeriodosXAulasTodos" />
  <xs:element name="listarPeriodosXAulasTodosResponse" type="tns:listarPeriodosXAulasTodosResponse" />
  <xs:element name="modificarPeriodoXAula" type="tns:modificarPeriodoXAula" />
  <xs:element name="modificarPeriodoXAulaResponse" type="tns:modificarPeriodoXAulaResponse" />
  <xs:element name="obtenerPeriodoXAulaPorId" type="tns:obtenerPeriodoXAulaPorId" />
  <xs:element name="obtenerPeriodoXAulaPorIdResponse" type="tns:obtenerPeriodoXAulaPorIdResponse" />
  <xs:complexType name="listarPeriodosXAulasTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPeriodosXAulasTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:periodoXAula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodoXAula">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="aula" type="tns:aula" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodoAcademico" />
      <xs:element name="periodo_aula_id" type="xs:int" />
      <xs:element name="vacantes_disponibles" type="xs:int" />
      <xs:element name="vacantes_ocupadas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aula">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element name="aula_id" type="xs:int" />
      <xs:element minOccurs="0" name="grado" type="tns:gradoAcademico" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gradoAcademico">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviatura" type="xs:string" />
      <xs:element name="activo" type="xs:int" />
      <xs:element name="grado_academico_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodoAcademico">
    <xs:sequence>
      <xs:element name="activo" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_inicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="periodo_academico_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPeriodoXAulaPorId">
    <xs:sequence>
      <xs:element name="idPeriodoXAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPeriodoXAulaPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:periodoXAula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPeriodoXAulaPorId">
    <xs:sequence>
      <xs:element name="idPeriodoXAula" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPeriodoXAulaPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPeriodoXAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodoXAula" type="tns:periodoXAula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPeriodoXAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPeriodoXAula">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodoXAula" type="tns:periodoXAula" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPeriodoXAulaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>