FrontTA/FrontTA/FrontTA/Connected Services/SisProgWS/PersonalWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usuario.services.sis.edu.pe/" targetNamespace="http://usuario.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPersonalPorId" type="tns:eliminarPersonalPorId" />
  <xs:element name="eliminarPersonalPorIdResponse" type="tns:eliminarPersonalPorIdResponse" />
  <xs:element name="insertarPersonal" type="tns:insertarPersonal" />
  <xs:element name="insertarPersonalResponse" type="tns:insertarPersonalResponse" />
  <xs:element name="listarPersonalPorDniONombreApellidos" type="tns:listarPersonalPorDniONombreApellidos" />
  <xs:element name="listarPersonalPorDniONombreApellidosResponse" type="tns:listarPersonalPorDniONombreApellidosResponse" />
  <xs:element name="listarPersonalTodos" type="tns:listarPersonalTodos" />
  <xs:element name="listarPersonalTodosResponse" type="tns:listarPersonalTodosResponse" />
  <xs:element name="modificarPersonal" type="tns:modificarPersonal" />
  <xs:element name="modificarPersonalResponse" type="tns:modificarPersonalResponse" />
  <xs:element name="obtenerPersonalPorId" type="tns:obtenerPersonalPorId" />
  <xs:element name="obtenerPersonalPorIdResponse" type="tns:obtenerPersonalPorIdResponse" />
  <xs:complexType name="listarPersonalPorDniONombreApellidos">
    <xs:sequence>
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="nombreApellidos" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonalPorDniONombreApellidosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personal">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="cargo" type="tns:cargo" />
      <xs:element minOccurs="0" name="correo_electronico" type="xs:string" />
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_Contratacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fin_fecha_Contratacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="personal_id" type="xs:int" />
      <xs:element name="salario" type="xs:double" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_contrato" type="tns:tipoContrato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cargo">
    <xs:sequence>
      <xs:element name="cargo_id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonalTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPersonalTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonal">
    <xs:sequence>
      <xs:element minOccurs="0" name="personal" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonalPorId">
    <xs:sequence>
      <xs:element name="idPersonal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPersonalPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonalPorId">
    <xs:sequence>
      <xs:element name="idPersonal" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPersonalPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonal">
    <xs:sequence>
      <xs:element minOccurs="0" name="personal" type="tns:personal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonalResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoContrato">
    <xs:restriction base="xs:string">
      <xs:enumeration value="COMPLETO" />
      <xs:enumeration value="PARCIAL" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>