FrontTA/FrontTA/FrontTA/Connected Services/SisProgWS/UsuarioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://usuario.services.sis.edu.pe/" targetNamespace="http://usuario.services.sis.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarUsuarioPorId" type="tns:eliminarUsuarioPorId" />
  <xs:element name="eliminarUsuarioPorIdResponse" type="tns:eliminarUsuarioPorIdResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarUsuariosTodos" type="tns:listarUsuariosTodos" />
  <xs:element name="listarUsuariosTodosResponse" type="tns:listarUsuariosTodosResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="obtenerUsuarioPorId" type="tns:obtenerUsuarioPorId" />
  <xs:element name="obtenerUsuarioPorIdResponse" type="tns:obtenerUsuarioPorIdResponse" />
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="obtenerUsuarioPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="iteracion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
      <xs:element minOccurs="0" name="salt" type="xs:string" />
      <xs:element minOccurs="0" name="ultimo_acceso" type="xs:dateTime" />
      <xs:element name="usuario_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="rol" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarUsuariosTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rol">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DIRECTOR" />
      <xs:enumeration value="PERSONAL_ADMINISTRATIVO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>